.drawerContainer {
    width: 240px;
    flex-shrink: 0;

    @media (max-width: 600px) {
        width: auto;
    }
}

:global(.MuiDrawer-root).temporaryDrawer {
    display: block;

    @media (min-width: 600px) {
        display: none;
    }

    :global(.MuiDrawer-paper) {
        width: 240px;
        background-color: white;
        margin-top: 64px;
        height: calc(100% - 64px);
        border-right: 1px solid #e0e0e0;
    }
}

:global(.MuiDrawer-root).permanentDrawer {
    display: none;

    @media (min-width: 600px) {
        display: block;
    }

    :global(.MuiDrawer-paper) {
        width: 240px;
        background-color: white;
        margin-top: 64px;
        height: calc(100% - 64px);
        border-right: 1px solid #e0e0e0;
    }
}

.drawerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topList {
    flex-grow: 1;
}

:global(.MuiListItem-root).listItem {
    padding: 5px;

    :global(.Mui-selected)
    {
        background-color: #646cff !important;
        color: #ffffff;
        :global(.MuiListItemIcon-root) {
            color: #ffffff;
        }
    }
}

:global(.MuiListItemButton-root).listItemButton {
    border-radius: 8px;
    text-transform: none;
    transition: background-color 0.2s;

    &:not(.Mui-selected):hover {
        background-color: #eeeeee;
    }
}

:global(.MuiListItemIcon-root).listItemIcon {
    min-width: 40px;
    color: #646cff;
}

:global(.MuiListItemText-root).listItemText {
    :global(.MuiTypography-root) {
        font-weight: 500;
        font-size: 14px;
    }
}