.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentWrapper {
    display: flex;
    flex-grow: 1;
    padding-top: 64px;;
}

.mainContent {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    padding: 32px;
}