.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentWrapper {
    display: flex;
    flex-grow: 1;
    padding-top: 64px;
}

.mainContent {
    flex-grow: 1;
    width: calc(100% - 250px);
    overflow-y: auto;
}

.settingsPanel {
    position: fixed;
    right: 0;
    height: calc(100vh - 64px);
}