:global(.MuiAppBar-root).appBar {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}

:global(.MuiToolbar-root).toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    min-height: 64px;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    height: 32px;
    cursor: pointer;
}

.settingsGroup {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
}

:global(.MuiTextField-root).titleInput {
    margin: 0;
    padding-left: 8px;
    width: 250px;

    :global(.MuiInputBase-root) {

        &::before,
        &::after {
            display: none !important;
        }
    }

    :global(.MuiInputBase-input) {
        font-size: 16px;
        font-weight: 500;
        color: #333;
    }
}

:global(.MuiButton-root).settingsButton {
    color: #333;
    text-transform: none;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 16px;
    min-width: auto;
    border: none;
    border-radius: 4px;
    background-color: #d8d8d8;

    &:hover {
        background-color: #cecece;
    }
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

:global(.MuiButton-root).actionButton {
    text-transform: none;
    color: #333;
}

:global(.MuiButton-root).playButton {
    background-color: #1368ce;
    color: white;
    text-transform: none;

    &:hover {
        background-color: #1368ce;
    }
}

:global(.MuiButton-root).saveButton {
    background-color: #0066ff;
    color: white;
    text-transform: none;

    &:hover {
        background-color: #0066ff;
    }
}