.previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #f0e4f7;
    @media screen and (max-width: 1000px) {
    min-height: 400px;
    min-width: 500px;
    padding: 10px;
  }
}

.questionTitle {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    width: 100%;
}

:global(.MuiTypography-root).questionText {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.imageContainer {
    width: 40%;
    height: 40%;
}

.questionImage {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.answersContainer {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.answerCard {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    min-height: 34px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    color: white;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}

.symbolContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    svg {
        font-size: 15px;
        color: white;
    }
}
.symbolText {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

:global(.MuiTypography-root).answerText {
    flex: 1;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.correctMark {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        font-size: 20px;
        color: white;
    }
}

// Answer color variants
.redAnswer {
    background-color: #FF5252;
}

.blueAnswer {
    background-color: #2979FF;
}

.yellowAnswer {
    background-color: #FFC107;
}

.greenAnswer {
    background-color: #4CAF50;
}

.purpleAnswer {
    background-color: #9C27B0;
}

.orangeAnswer {
    background-color: #FF9800;
}